
<div class="flex flex-col min-h-screen">

    <div class="flex-grow">
        

        <div class="flex-lineflex items-center justify-center p-8">
            <h1 class="text-4xl font-bold text-center">
                Bem-vindo à Página Sobre Naruto
            </h1>
            <p class="text-lg text-gray-700 mt-4 text-center">
                Naruto Uzumaki é um jovem ninja da Aldeia Oculta da Folha com um grande sonho:
                se tornar o Hokage, o líder da aldeia. Ele é travesso e desajeitado, mas seu
                espírito determinado e vontade inabalável o levam a superar todos os obstáculos.
                Ao longo de sua jornada, ele forma amizades duradouras e enfrenta desafios
                que o ajudam a crescer como ninja e como pessoa.
                <br>
                Enredo:
                <br>
                Um monstro poderoso conhecido como a Raposa de Nove Caudas (Bijū Kyūbi) atacou a vila ninja conhecida
                como Konoha, matando várias pessoas. Em resposta, o líder da Vila , o Quarto Hokage selou o monstro
                dentro de seu filho recém-nascido, Naruto Uzumaki , tal ato custou sua vida. Quando criança, Naruto fica
                isolado da comunidade ninja, pois ele é visto como o próprio monstro. Um decreto feito pelo líder atual,
                o Terceiro Hokage, proíbe qualquer menção do ataque da Raposa para outras pessoas. Doze anos depois,
                Mizuki, um ninja perverso, diz a Naruto sobre o ataque antes de ser derrotado por ele com o Jutsu Clones
                das Sombras, ganhando respeito do sensei Iruka Umino. Pouco depois, Naruto torna-se um gennin e é
                designado juntamente com Sasuke Uchiha, seu rival, e Sakura Haruno, sua paixão, a formar o Time 7, sob o
                comando de um experiente e rigoroso sensei, o ninja de elite Kakashi Hatake. Assim como todas as equipes
                de cada Vila, o Time 7 é encarregado de missões solicitadas pelos moradores, como fazer tarefas
                domésticas ou ser guarda-costas. Após várias missões, sendo que a mais notável foi a missão no País das
                Ondas, Kakashi autoriza seus alunos a participem de um exame que permitirão a ascensão deles a um posto
                superior, o Exame Chūnin . Durante o evento, Orochimaru, um ninja procurado, invade a Vila Oculta da
                Folha e, em um ato de vingança, mata seu antigo sensei, o Terceiro Hokage. Tal ato força Jiraya, um dos
                Sannins Lendários, a procurar, junto com Naruto, por sua antiga companheira de equipe, Tsunade, que foi
                nomeada para se tornar a Quinta Hokage. Durante a busca, é descoberto que Orochimaru pretende adquirir
                Sasuke, devido a sua poderosa herança genética, o Sharingan. Acreditando que Orochimaru lhe dará a força
                necessária para matar seu irmão Itachi, o qual destruiu todo seu clã, Sasuke se junta a ele depois de
                provar ser fraco em uma luta contra seu irmão. Tsunade envia uma equipe, incluindo Naruto, para fazer
                Sasuke retornar a Vila, porém Naruto falha em sua missão. Naruto e Sakura não desistem de Sasuke,
                entretanto, o primeiro deixa Konoha para treinar sob a tutela de Jiraiya, com a intenção de se preparar
                para a próxima vez que encontrar Sasuke, enquanto a segunda se torna aprendiz de Tsunade.
            </p>
        </div>


        <router-outlet></router-outlet>
    </div>
</div>