<div class="flex justify-center items-center min-h-screen">
    <div class="text-center w-full">
        <h1 class="text-2xl font-semibold m-4">Personagens do Naruto</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
            <div *ngFor="let personagem of personagens; let index = index" class="p-4">
                <div class="bg-white p-4 rounded shadow flex flex-col justify-center items-center h-full">
                    <h2 class="text-lg font-semibold mb-2">{{ personagem.nome }}</h2>
                    <img [src]="personagem.imgSrc" class="max-w-full mb-2 self-center">
                    
                </div>
            </div>
        </div>
    </div>
</div>
